// Specific CSS for your home-page

html, body{
    padding: 0; margin: 0 auto;
    position: relative;
}

html {
    height: 100%;
    
}


body {
    background-image: url("galaxy_starfield.png");
    color: grey;
    min-height: 100% !important;
}

#earth_div{
    top: 1000; right: 0; bottom: 0; left: 0;
    min-height: 100vh !important;
    position: absolute;
}
.container-maste {
    display: flex;
    position: absolute;

}