// Specific CSS for your home-page
.globe {
   background-color: black;
}

.footer {
  background: black;
  display: flex;
  align-items: center;
  height: 100px;
  color: rgba(0,0,0,0.3);
  justify-content: center;
}

.footer-links {
  align-items: center;
}

.footer-links a {
  opacity: 0.9;
  color: red;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}

.footer-links a:hover {
  opacity: 0.9;
  width: 110%;
}
.footer .fa-heart {
  color: #D23333;
}
