<div class="footer mt-4" style="background-color: #D0D2D4">
  <div class="footer-links">
      <a href="../"><i class="fas fa-chevron-left"></i></a>
      <a href="/"><i class="fas fa-home"></i></a>
      <a href="/locations/new"><i class="fas fa-plus"></i></a>
  </div>
</div>

