.btn a {
  color: white;
  border: 3px solid #060537;
  margin-top: 20px;
  margin-bottom:20px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 10px;
  padding-bottom: 10px;

  border-radius: 5px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.controls > .btn {
  padding: 0 !important;
  margin-bottom:15px !important;
}

.field > .btn {
  padding: 0 !important;
}

.form-group > input {
  background-color: #D0D2D4 !important;
}

.btn:hover {
   opacity: 1;
}

.container-forms {
  border: 3px solid #060537; 
  width: 110%;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px; 
  margin-bottom: 20px; 
  margin-top: 20px;
}

.submit input {
  color: #D0D2D4;
  padding: 8px 24px;
  border-radius: 4px;
  background:#060537;
  transition: background 0.3s ease;
  margin-top: 20px;
}

.submit input :hover {
  background: #2617ad;
  color: white;
}

.upload-photo {
  border: 3px solid #060537;
  padding: 16px 24px;
  cursor: pointer;
  font-weight: 500;
  background: none;
  box-shadow: 23px 29px 19px -16px rgba(30, 30, 60, 0.36); 
  border-radius: 2px;
}