.btn a {
  color: white;
  border: 1px solid #4A4A4A;
  margin-top: 20px;
  margin-bottom:20px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 10px;
  padding-bottom: 10px;

  border-radius: 5px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn:hover {
   opacity: 1;
}

.container-forms {
  border: 1px solid #4A4A4A; 
  width: 110%;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px; 
  margin-bottom: 20px; 
  margin-top: 20px;
}

.submit input {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #571edd;
  transition: background 0.3s ease;
  margin-top: 20px;
}

.submit input :hover {
  background: #2617ad;
  color: white;
}
