.navbar-lewagon {
  justify-content: space-between;
  background: transparen
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 90px;
}

.navbar-nav {
  padding-left: 170px;
}


.dropdown-menu {
    position: absolute !important;
}

.avatar {
  width: 58px;
}