<li class="control-group nested-fields">
  <div class="controls  mb-3">
    <div class="mb-2"> 
      <%= f.input :photos, as: :file, input_html: { multiple: true, class: 'hidden d-none', id: 'photo-input'},                      
                          label_html: { class: 'upload-photo'}, label: '➕ Pictures'
      %>
      <%= image_tag "", width: 200, class: "hidden", id: "photo-preview" %>
    </div>

    <%= f.input  :date,
                 as: :string,
                input_html: {class: 'datepicker'} %>
  </div>
</li>
