<li class="control-group nested-fields">
  <div class="controls  mb-3">
    <div class="mb-2"> 
      <%= f.input :photos, as: :file, input_html: { multiple: true, class: 'd-none', id: 'photo-input'},                      
                          label_html: { class: 'upload-photo'}, label: '📷 Add a Photo'
      %>
      <%= image_tag "", width: 100, class: "hidden", id: "photo-preview" %>
    </div>


    <%= f.input  :date,
                 as: :string,
                input_html: {class: 'datepicker'} %>
    <div class="btn">
      <%= link_to_remove_association "remove", f %>
    </div>
  </div>

</li>
