<li class="control-group nested-fields">
  <div class="controls">
    <%= f.input :text, label: 'Comment', input_html: { class: 'form-control' } %>
    
    <%= f.input  :date,
                 as: :string,
                input_html: {class: 'datepicker'} %>
  </div>

</li>