<h3>Locations from database</h3>
<ul>
  <% @locations.each do |element| %>
    <li><%= element.address %></li>
  <% end %>
</ul>

<h3>there should be a globe here, but the budget and the time were short 😔</h3>
<h4>so, this map is our solution...</h4>

<div id="map"
     style="width: 100%; height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>