<h2><%= @location.name %></h2>

<p>Situated at: <%= @location.address %></p>

<% @comments.each do |comment| %>
  <p>Comments:  <%= comment.text %></p>
<% end %>
<% @albums.each do |album| %>
  <% album.photos.each do  |photo|  %>
    <%= cl_image_tag photo.key, height: 300, width: 400, crop: :limit %> 
  <% end %>
<% end %>


      